extends ../_includes/layout

block variables
  - var template = 'home'

block content 
  .home
    .home__wrapper
      .home__titles
        each collection, index in collections
          .home__titles__label=`${home.data.collection} ${Numbers(index)}`
          .home__titles__title=collection.data.title

      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(src=media.image.url alt=media.image.alt)

      a.home__link(href=Link(home.data.collections))=home.data.button